<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <script src="https://kit.fontawesome.com/0cdc049c53.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="home">
        <div class="header">
            <div class="home-left">
                <div class="left-up">
                    <img src="static/images/leftGif.gif" alt="">
                </div>
                <div class="left-middle">
                </div>
                <div class="left-down">
                    <div class="left-down-left">
                        <div class="icons">

                        </div>
                        <div class="images">
                            <img src="static/images/smallsmall.gif" alt="">
                        </div>
                    </div>
                    <div class="left-down-right">
                        <img src="static/images/smallgif-1.gif" alt="">
                    </div>
                </div>
            </div>
            <div class="home-right">
                <div class="nav">
                    <div class="left-nav">
                        <div class="small-circle">

                        </div>
                        <img src="static/css/images/1F984.svg" alt="">
                    </div>
                    <div class="right-nav">
                        <ul>
                            <li><a href="#home">
                                    <p class="active">HOME</p>
                                </a></li>
                            <li><a href="#predictors">
                                    <p>PREDICTORS</p>
                                </a>
                            </li>
                            <li><a href="#about">
                                    <p>ABOUT</p>
                                </a></li>
                            <li><a href="#contact">
                                    <p>CONTACT</p>
                                </a></li>
                            <li><a href="/">
                                    <p>LOGIN</p>
                                </a></li>
                        </ul>
                    </div>
                </div>
                <div class="right-txt">
                    <h1>PREDICTIGO</h1>
                </div>
                <div class="right-gif">
                    <img src="static/images/rightGif.gif" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="big-text-holder">
        <div class="big-text">
            <h1>ALGORITHMS</h1>
        </div>
    </div>
    <div class="predict-down">
        <div class="down-left">
            <div class="someTxt">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae quidem optio officiis veritatis dicta
                    aliquid corporis quisquam nemo. Atque praesentium consequatur, odio fuga magnam corporis quae in
                    consequuntur iusto deleniti.</p>
            </div>
        </div>
        <div class="down-right">
            <div class="smallRect rect1">
                <div class="rectUp">
                    <i class="fa-solid fa-circle"></i>
                </div>
                <div class="rectDown">
                    <h2>Some Algorithm</h2>
                </div>
            </div>
            <div class="smallRect rect2">
                <div class="rectUp">
                    <i class="fa-solid fa-play"></i>
                </div>
                <div class="rectDown">
                    <h2>Some Algorithm</h2>
                </div>
            </div>
            <div class="smallRect rect3">
                <div class="rectUp">
                    <i class="fa-solid fa-square"></i>
                </div>
                <div class="rectDown">
                    <h2>Some Algorithm</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- -------------------------------------------------predictors------------------------------------------- -->
    <div id="predictors">
        <div class="predict-up">
            <div class="predict-circle">
                <img src="static/images/transpa.png" alt="" class="imgleft">
                <img src="static/images/transpa.png" alt="" class="imgright">
            </div>
            <div class="predict-text">
                <h1>PREDICTORS</h1>
                <p>Explore Our Predictive Algorithms</p>
            </div>
        </div>

        <div class="collab-holder">
            <div class="holder-right slide-in">
                <img src="static\css\images\aero.jpg" class="img-big">
                <div class="img-small-holder">
                    <img src="static\css\images\flightgif.gif" class="img-small">
                </div>
            </div>
            <div class="holder-left slide-in">
                <div class="leftTxtHolder">
                    <h1>FLIGHT PRICE PREDICTOR</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit debitis sed autem? Ipsa
                        iure
                        similique distinctio alias perspiciatis delectus sint enim qui impedit? Quia, ad!</p>
                    <a href=""><button>Explore</button></a>
                </div>
            </div>
        </div>
        <div class="collab-holder">
            <div class="holder-left slide-in altSlideLeft">
                <div class="leftTxtHolder">
                    <h1>FLIGHT PRICE PREDICTOR</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit debitis sed autem? Ipsa
                        iure
                        similique distinctio alias perspiciatis delectus sint enim qui impedit? Quia, ad!</p>
                    <a href=""><button>Explore</button></a>
                </div>
            </div>
            <div class="holder-right slide-in altSlideRight">
                <img src="static\css\images\aero.jpg" class="img-big">
                <div class="img-small-holder">
                    <img src="static\css\images\flightgif.gif" class="img-small">
                </div>
            </div>

        </div>
        <div class="collab-holder">
            <div class="holder-right slide-in">
                <img src="static\css\images\aero.jpg" class="img-big">
                <div class="img-small-holder">
                    <img src="static\css\images\flightgif.gif" class="img-small">
                </div>
            </div>
            <div class="holder-left slide-in">
                <div class="leftTxtHolder">
                    <h1>FLIGHT PRICE PREDICTOR</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit debitis sed autem? Ipsa
                        iure
                        similique distinctio alias perspiciatis delectus sint enim qui impedit? Quia, ad!</p>
                    <a href=""><button>Explore</button></a>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------------------------------------------about-------------------------------------------------------------- -->


    <div id="about">
        <div class="aboutOne">
            <div class="myimg">
                <img src="static/images/backTrans.png" alt="">
                <img src="static/css/images/myimg-1.png" alt="" > 
                
            </div>
            <div class="rightOne">
                <div class="rightSpace">

                </div>
                <div class="rightOnetxt slide-in">
                    <div class="rightOnetxttxt">
                        <h1>ABOUT !</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus est, veniam deleniti vel quod, ratione expedita impedit assumenda, qui neque quo aliquid asperiores? Amet harum iure molestiae culpa ex facilis.</p>
                        <button class="portfolio">MY PORTFOLIO</button>
                    </div>
                </div>
            </div>
            <div class="mydetails">
                <div class="detailsTxt">
                    <div class="dteailstxttxt slide-in">
                        <h2>Hi, I'm</h2>
                        <h2>Shuaib Afnan</h2>
                        <p>A Web Developer and Data Scientist..</p>
                        <div class="socialmedia">
                            <img src="static/images/icons8-instagram.svg" alt="">
                            <img src="static/images/icons8-twitter-48.png" alt="">
                            <img src="static/images/icons8-discord-48.png" alt="">
                            <img src="static/css/images/linkedin.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="detailSpace">

                </div>
            </div>
        </div>
        <div class="altLeft">
            <div class="altUp">
                <h1>OTHER WORKS</h1>
            </div>
        </div>
      
        <div class="aboutTwo">
            <div class="leftTwo">
                <div class="txtTwo">
                    <h1>ANIME RECOMMENDER SYSTEM</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi et neque earum, sed facilis
                        dolorem sapiente! Cum saepe molestias id aliquid aperiam voluptas minus! Non porro consectetur
                        ut magni ipsam.</p>
                    <div class="btnTwohold">
                        <div class="btnBack">

                        </div>
                        <div class="btnUp">
                            <h2>VIEW NOW</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="rightTwo">
                <div class="twoTrans">
                    <img src="static/images/Transtrans.png" alt="">
                </div>
                <img src="static/images/animeAbout.jpeg" alt="">

                <div class="twoCir">

                </div>
                <div class="twoTranscir">

                </div>
            </div>
        </div>
        
        <div class="aboutThree">
            <div class="threeOne">
                <img src="static/images/background-web2.jpg" alt="">
                <div class="oneTrans">
                    <img src="static/images/transEcom.png" alt="">
                </div>
            </div>
            <div class="threeTwo">
                <div class="twoUp">
                    <img src="static/images/sunglasses-category.webp" alt="">
                    <div class="twoUptrans">
                        <img src="static/images/transEcom.png" alt="">
                    </div>
                </div>
                <div class="twoDown slide-in">
                    <img src="static/images/tshirt-category.jpg" alt="">
                    <div class="twoDowntrans">
                        <img src="static/images/transEcom.png" alt="">
                    </div>
                </div>
            </div>
            <div class="threeThree">
                <div class="threeTxt">
                    <h1>APPLE MART</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur quam in fugiat error! Eos
                        assumenda nisi aliquam aut ut ipsum ipsam iusto! Vero inventore eos quo esse est consequuntur
                        perspiciatis, aliquam omnis possimus magnam. Commodi.</p>
                    <div class="btnTwohold-2">
                        <div class="btnBack-2">

                        </div>
                        <div class="btnUp-2">
                            <h2>VIEW NOW</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------------------------------------contact---------------------------------- -->
    <div id="contact">
        <div class="container-contact">
            <div class="left">
                <div class="whereabouts">
                    <span><i class="fa-solid fa-envelope"></i><p>shuaibafnansk@gmail.com</p></span>
                    <span><i class="fa-solid fa-mobile"></i><p>7075818209</p></span>
                    <span><i class="fa-solid fa-location-dot"></i><p>Nellore, AndhraPradesh, India</p></span>
                </div>
                
                
                <div class="final-img-div">
                    <img src="static/css/images/ds.png" alt="">
                </div>
                <h1>Rate Our Page</h1>
                <div class="rating-holder">
                    <div class="rate">
                        <img src="static/images/happyemoji.png" alt="" class="image">
                      
                    </div>
                    <div class="rate">
                        <img src="static/images/fine.png" alt="" class="image">
                     
                    </div>
                    <div class="rate">
                        <img src="static/images/ok.png" alt="" class="image">
                        
                    </div>
                    <div class="rate">
                        <img src="static/images/bad.png" alt="" class="image">
                        
                    </div>
                    <div class="rate">
                        <img src="static/images/worst.png" alt="" class="image">
                        
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="head-para">
                    <h2>HELLO THERE !</h2>
                    <p>Let us Know More About You</p>
                </div>
                <div class="form-holder">
                    <input type="text" class="input" placeholder="   FirstName   ">
                    <input type="text" class="input" placeholder="   LastName   ">
                    <input type="text" class="input" placeholder="   Email   ">
                    <input type="text" class="input" placeholder="   Phone   ">
                    <input type="text" class="message" placeholder="   Message   ">
                </div>
                <input type="button" value="Submit" class="submit">
            </div>
            
        </div>
    </div>
    <footer>
        <div class="end">
            <p>Made With <i class="fa-solid fa-heart"></i></p>
        </div>
    </footer>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>

</html>